<template>
  <div class="hello">
    <input 
      style="display: none" 
      type="file" 
      @change="onFileSelected"
      ref="fileInput">
    <button @click="$refs.fileInput.click()">Select image</button>
    <button @click="onUpload">Upload image</button>
    

    <div v-if="isSaving">
      <h5>Uploading image.</h5>
      
    <!-- <progress max="100" :value.prop="uploadPercentage"></progress>  -->
      <h2>{{ uploadPercentage }}%</h2>
      <h5>Please wait for confirmation.</h5>
        <div class="looping-rhombuses-spinner">
          <div class="rhombus"></div>
          <div class="rhombus"></div>
          <div class="rhombus"></div>
        </div>
    </div>
    
    <div v-if="isSuccess">
      <h4>Uploaded <code>{{ selectedFile.name }}</code> successfully.</h4>
        <p>
          <a href="javascript:void(0)" @click="reset">Upload again</a>
        </p>
    </div>
   <div v-if="isFailed">
      <h4>Uploaded failed.</h4>
        <p>
          <a href="javascript:void(0)" @click="reset">Try again</a>
        </p>
    </div>
    
  </div>
</template>

<script>
import axios from "axios";

const STATUS_INITIAL = 0,
  STATUS_SAVING = 1,
  STATUS_SUCCESS = 2,
  STATUS_FAILED = 3;

export default {
  name: "HelloWorld",
  data() {
    return {
      selectedFile: null,
      uploadPercentage: 0,
      result: 0,
      failure: 0,
      uploadError: null,
      currentStatus: null,
      tmpName: ""
    };
  },
  computed: {
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    }
  },
  methods: {
    fileCount() {
      selectedFile.length;
    },
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
      this.uploadPercentage = 0;
    },
    onFileSelected(event) {
      this.selectedFile = event.target.files[0];
      this.tmpName = this.selectedFile.name;
    },
    onUpload() {
      if (this.selectedFile === null) {
        return window.alert("Please select an image.");
      }
      this.currentStatus = STATUS_SAVING;
      const formData = new FormData();
      formData.append("image", this.selectedFile, this.selectedFile.name);
      axios
        .post(
          "https://us-central1-fb-cloud-function-demo-4df90.cloudfunctions.net/uploadFile",
          formData,
          {
            onUploadProgress: function(uploadEvent) {
              this.uploadPercentage = Math.round(
                uploadEvent.loaded / uploadEvent.total * 100
              );
              console.log(
                "Upload Progress: " +
                  Math.round(uploadEvent.loaded / uploadEvent.total * 100) +
                  "%"
              );
            }.bind(this)
          }
        )
        .then(res => {
          console.log(res);
          this.currentStatus = STATUS_SUCCESS;
        })
        .catch(error => {
          this.uploadError = error.response;
          this.currentStatus = STATUS_FAILED;
          /* if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            console.log(error.response.data);
            console.log(error.response.status);
            this.result = error.response;
            console.log(error.response.headers);
          } else if (error.request) {
            // The request was made but no response was received
            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
            // http.ClientRequest in node.js
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log("Error", error.message);
          } */
          console.log(error.config);
        });
    }
  },
  mounted() {
    this.reset();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
code,
pre {
  font-family: "Roboto Mono", Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}

.looping-rhombuses-spinner,
.looping-rhombuses-spinner * {
  box-sizing: border-box;
  margin: 0 auto;
}

.looping-rhombuses-spinner {
  width: calc(15px * 4);
  height: 15px;
  position: relative;
}

.looping-rhombuses-spinner .rhombus {
  height: 15px;
  width: 15px;
  background-color: #04b97d;
  left: calc(15px * 4);
  position: absolute;
  margin: 0 auto;
  border-radius: 2px;
  transform: translateY(0) rotate(45deg) scale(0);
  animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
}

.looping-rhombuses-spinner .rhombus:nth-child(1) {
  animation-delay: calc(2500ms * 1 / -1.5);
}

.looping-rhombuses-spinner .rhombus:nth-child(2) {
  animation-delay: calc(2500ms * 2 / -1.5);
}

.looping-rhombuses-spinner .rhombus:nth-child(3) {
  animation-delay: calc(2500ms * 3 / -1.5);
}

@keyframes looping-rhombuses-spinner-animation {
  0% {
    transform: translateX(0) rotate(45deg) scale(0);
  }
  50% {
    transform: translateX(-233%) rotate(45deg) scale(1);
  }
  100% {
    transform: translateX(-466%) rotate(45deg) scale(0);
  }
}
</style>
